/* GENERICS */

/*** BORDER ***/

.border{
    border: 1px dashed black;
}

.debug > *{
    border: 1px dashed red;
}

/* ALTEZZE FISSE */

._h-50{
    min-height: 50px;
}

/*
MAIN COLOR
SECTION COLOR
*/

main{
    background-color: #B91450;
}

#price-calcolator p{
    color: #B91450;
}

._form-item{
    width: 183px;
}

._form-area,
._show-tickets{
    background-color: white;
}

#passenger-info{
    background-color: #808080;
}

#ticket-info{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}